---
import Layout from "../layouts/Main.astro";
import Nav from "../components/Nav.astro";
import Welcome from "../components/Welcome.astro";
import WorkExperience from "../layouts/WorkExperience.astro";
import Projects from "../layouts/Projects.astro";
import Project from "../components/Project.astro";
import Experience from "../components/Experience.astro";
import Certifications from "../layouts/Certifications.astro";
import { getCollection } from "astro:content";
import Certificate from "../components/Certificate.astro";
import AboutMe from "../components/AboutMe.astro";
import Footer from "../components/Footer.astro";

const allExperiences = await getCollection("experiences");
const projects = await getCollection("projects");
const certificate = await getCollection("certifications");

const orderFecha = (a, b) => {
  return new Date(b.data.fecha).getTime() - new Date(a.data.fecha).getTime();
};

const orderByOrden = (a, b) => {
  return a.data.orden - b.data.orden;
};

const dateFormat = (fecha) => {
  const date = new Date(fecha);
  return date.toLocaleDateString("es-ES", {
    year: "numeric",
    month: "long",
  });
};

const title = "Portfolio Web Developer - Alexander Polanco";
const content = title;
const description =
  "Portfolio Web Developer - Alexander Polanco. Desarrollador Web Front-end con experiencia en React, Next.js, Astro y otros.";
const URL = import.meta.env.SITE;
const imagen = `${URL}/public/portfolio-web.jpg`;

const urlLinkedin =
  "https://www.linkedin.com/in/jose-alexander-polanco-mendez/";
const urlCertifications =
  "https://www.linkedin.com/in/jose-alexander-polanco-mendez/details/certifications/";
const email = "alexander.polanco@gmail.com";
---

<Layout
  title={title}
  content={content}
  description={description}
  url={URL}
  imagen={imagen}
>
  <header>
    <Nav email={email} />
    <Welcome urlLinkedin={urlLinkedin} email={email} />
  </header>
  <main>
    <WorkExperience urlLinkedin={urlLinkedin}>
      {
        allExperiences
          .sort(orderFecha)
          .map((experience) => (
            <Experience
              cargo={experience.data.cargo}
              descripcion={experience.data.descripcion}
              fecha={
                experience.data.estado
                  ? "Actualmente..."
                  : dateFormat(experience.data.fecha)
              }
              empresa={experience.data.empresa}
            />
          ))
      }
    </WorkExperience>
    <Projects>
      {
        projects
          .sort(orderByOrden)
          .map((project) => (
            <Project
              slug={project.slug}
              titulo={project.data.titulo}
              imagen={`images/${project.data.imagen}`}
              resumen={project.data.resumen}
              linkCode={project.data.linkCode}
              linkPreview={project.data.linkPreview}
            />
          ))
      }
    </Projects>
    <Certifications urlLinkedin={urlCertifications}>
      {
        certificate
          .sort(orderByOrden)
          .map((certificate) => (
            <Certificate
              titulo={certificate.data.titulo}
              logo={`images/${certificate.data.logo}`}
              empresa={certificate.data.empresa}
              expedicion={certificate.data.expedicion}
              ID={certificate.data.ID}
              linkCertificate={certificate.data.linkCertificate}
            />
          ))
      }
    </Certifications>
    <AboutMe />
    <Footer />
  </main>
</Layout>
<style>
  header {
    display: flex;
    align-items: center;
    height: 590px;
  }
</style>
